<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ibxdocparser.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ibxdocparser.AppSettings>
            <setting name="BrowserUserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) 
                
/114.0.0.0 Safari/537.36 Edg/114.0.1823.41</value>
            </setting>
            <setting name="IbxSearchHome" serializeAs="String">
                <value>https://ibx.healthsparq.com/healthsparq/public/#/one/city=Philadelphia&amp;state=PA&amp;country=&amp;insurerCode=IBXBLUE_I&amp;brandCode=IBXBLUECOMM&amp;productCode=all/search/isPromotionSearch=true&amp;key=Internal%2520Medicine&amp;location=1200%2520Cedar%2520Crest%2520Boulevard%252C%2520Allentown%252C%2520PA%252018104&amp;page=1&amp;productCode=360&amp;query=Internal%2520Medicine&amp;radius=3&amp;searchCategory=SPECIALTY&amp;searchType=SYNONYM_PERSON</value>
            </setting>
        </ibxdocparser.AppSettings>
    </userSettings>
</configuration>